/node_modules
/.env*
/website/static/api/v0
/dist
/.nuxt
/.serverless
/host.json
/local.settings.json
/tmp/*
!/tmp/.keep
/.eslintcache
/yarn-error.log
/terraform/.terraform*
/terraform/*.tfstate*
/terraform/terraform.tfvars
/.werf_secret_key
